/* You can add global styles to this file, and also import other style files */
body {
    overflow: none;
    margin: 1%;
    padding: 1%;
    background-image: url(https://bit.ly/2RgRYF3);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center; 
    font-family: 'philosopher' , 'sans-serif';
    font-size: 20px;
}
